@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    ;
}

body {
    overflow-x: hidden;
}

header li {
    list-style: none;
}

header a {
    text-decoration: none;
    color: #140001;
    font-size: 1rem;
}

header a:hover {
    color: #201c1d;
}

header {
    position: relative;
    padding-top: 0.6rem;
    padding-bottom: 0.8rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: #140001;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.login_btn {
    background-color: #FDCB16;
    color: #140001;
    padding: 0.9rem 3rem;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.login_btn:hover {
    scale: 1.05;
}

/* dropdown*/
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0;
    background: rgba(138, 138, 138, 0.1);
    backdrop-filter: blur(6px);
    border-radius: 10px;
    overflow: hidden;
}

.dropdown_menu.open {
    height: 240px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .login_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/*responsive navbar*/
@media (max-width: 992px) {
    .navbar {
        padding-left: 18px;
        padding-right: 18px;
    }

    .navbar .links,
    .navbar .login_btn {
        display: none;
    }

    .navbar .toggle_btn {
        background: #a2a2a2;
        padding: 0.2rem 0.3rem;
        border-radius: 3px;
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}

/*hero*/
.row {
    display: flex;
    flex-direction: row;
}

.column1 {
    flex: 40%;
    display: justify;
}

.column2 {
    flex: 60%;
    display: justify;
}

#hero {
    padding: 0 6%;
    margin-top: 1rem;
}

#hero .head_line {
    color: #133A73;
    padding: 0 1%;
    font-size: 90px;
}

#hero img {
    height: 90%;
    width: 100%;
}

@media (max-width: 992px) {
    #hero .head_line {
        font-size: 25px;
        font-weight: bold;
    }

    .row {
        flex-direction: column;
    }

    .flex_img {
        width: 100%;
        padding: 0%;
        border-radius: 0%;
    }


    .hero :nth-child(1) {
        order: 2;
    }

    .hero :nth-child(2) {
        order: 1;
    }
}

/* subscriber board*/

.hero {
    margin-top: 2rem;
    justify-content: space-between;
}

.card {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E9E6DE;
    padding: 44px;
    border-radius: 10px;
}

.stat {
    text-align: center;
}

.stat h3 {
    font-size: 13px;
    font-weight: 100;
    margin-bottom: 10px;
}

.stat p {
    font-size: 37px;
    margin: 0;
}

@media (max-width: 992px) {
    .card {
        width: 100%;
        margin-top: 10px;
        padding: 40px 17px;
        align-items: left;
    }

    .stat h3 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .stat p {
        font-size: 25px;
        margin: 0;
    }


    .stat :nth-child(1) {
        order: 1;
    }

    .stat :nth-child(2) {
        order: 2;
    }
}

/*contact us*/

.contact_us {
    margin-top: 20px;
    padding: 35px 30px;
    font-size: 20px;
    font-weight: lighter;
}

.input-icons i {
    position: absolute;
}

.input-icons {
    width: 100%;
    margin-bottom: 10px;
}

.icon {
    padding: 15px;
    min-width: 40px;
}

.contact_us input[type=text],
.contact_us input[type=email] {
    width: 100%;
    padding: 12px;
    padding-left: 50px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: 16px;
}

.contact_us input[type=submit] {
    width: 100%;
    background-color: #133A73;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 8px 10px 0 #133A73;
}

/*m_insurance*/
#m_insurance {
    padding: 0 6%;
    margin-top: 1rem;
}

#m_insurance .head_line {
    color: #133A73;
    padding: 0 1%;
    font-size: 85px;
    text-align: right;
}

#m_insurance img {
    width: 65%;
    padding: 0 15px;
}

@media (max-width: 992px) {
    #m_insurance .head_line {
        font-size: 25px;
        font-weight: bold;
    }

    #m_insurance img {
        width: 100%;
        padding: 0 15px;
    }
}

/*about_us*/
.row2 {
    width: 100%;
}

#about_us {
    padding: 0 6%;
    margin-top: 4rem;
}

#about_us .head_line {
    color: #133A73;
    padding: 0 1%;
    font-size: 80px;
    width: 100%;
}

#about_us .reshead_line {
    display: none;
    position: absolute;
}

#about_us .about_p {
    font-size: 18px;
    color: #133A73;
    font-weight: lighter;
}

#about_us .column3 {
    flex: 40%;
    display: justify;
}

#about_us .column4 {
    flex: 60%;
    display: justify;
}

#about_us img {
    width: 100%;
    padding: 0 15px;
}

@media (max-width: 992px) {
    #about_us .head_line {
        display: none;
    }

    #about_us .reshead_line {
        display: block;
        position: static;
        color: #133A73;
        padding: 1% 1%;
        font-size: 30px;
        width: 100%;
    }

    #about_us img {
        width: 100%;
        padding: 9px 1px 0px 1px;
    }

    #about_us .about_p {
        padding-top: 10px;
        font-size: 15px;
        font-weight: 600;
    }

    .about :nth-child(2) {
        order: 2;
    }

    .about :nth-child(1) {
        order: 3;
    }
}

/*services*/
#services {
    margin-top: 50px;
    padding: 0 6%;
}

#services .head_line {
    color: #133A73;
    font-size: 80px;
    width: 100%;
}

.card2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}

.card-item {
    display: justify;
    text-align: left;
    background-color: #E9E6DE;
    border-radius: 10px;
}

.card-item img {
    padding: 10px;
}

.service_para {
    font-size: 18px;
    font-weight: lighter;
    color: #133A73;
    margin: 0;
}

.card-item_dis p {
    font-size: 21px;
}

.card-item_dis {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: white;
}

@media (max-width: 992px) {
    .card2 {
        flex-direction: column;
    }

    .card-item {
        margin: 0 40px;
        font-size: 15px;
    }

    #sevices {
        padding: 1% 1%;
    }

    #services .head_line {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .service_para {
        font-size: 15px;
        font-weight: lighter;
    }
}

/*reviews*/
#reviews {
    margin-top: 5rem;
}

#reviews .head_line {
    padding: 0 5rem;
    color: #133A73;
    font-size: 97px;
    width: 100%;
}

.reviews_p {
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.p_detail {
    margin: 1rem 5rem;
    padding: 0.5rem 4rem;
    background-color: #E9E6DE;
    border-radius: 10px;
    justify-content: center;
}

.p_info span {
    font-size: 10px;
}

.seprator {
    justify-content: space-between;
    align-items: center;
    padding: 0 17rem;
}

.g_review {
    margin-right: 4rem;
    width: 100%;
    border-radius: 10px;
    padding: 7rem 6rem;
    background-color: #E9E6DE;
}

.column5 {
    flex: 40%;
    display: justify;
}

.column6 {
    margin-right: 5rem;
    flex: 60%;
    display: justify;
}

@media(max-width: 992px) {
    #reviews .head_line {
        font-size: 28px;
        padding: 0 2rem;
        font-weight: bold;
    }

    #reviews {
        overflow-x: hidden;
    }

    .g_review {
        margin-left: 1rem;
        padding: 3%;
    }

    .column6 {
        margin: 0 2rem 0 0;
    }
}

/*be a part*/
#help_desk {
    margin: 4rem;
}

#help_desk .head_line {
    text-align: center;
    color: #133A73;
    font-size: 80px;
    width: 100%;
}

#help_desk h1 {
    margin: 3rem 0;
    text-align: center;
    font-size: 30px;
}

.contact_form {
    background-color: #133A73;
    margin-top: 20px;
    margin-left: 14rem;
    margin-right: 14rem;
    border-radius: 10px;
    padding: 35px 30px;
}

.contact_form .input-icons i {
    position: absolute;
}

.contact_form .input-icons {
    width: 100%;
}

.contact_form .icon {
    padding-top: 20px;
    padding-left: 60px;
    min-width: 40px;
}

.contact_form input[type=text],
.contact_form input[type=email] {
    width: 40%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding-left: 35px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    margin-left: 45px;
    resize: vertical;
    font-size: 16px;
}

.contact_form input[type=submit] {
    width: 50%;
    background-color: #E9E6DE;
    color: #133A73;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 8px 10px 0 #133A73;
    margin-left: 11rem;
}

@media(max-width: 992px) {
    #help_desk {
        margin: 1rem;
    }

    #help_desk .head_line {
        text-align: left;
        font-size: 32px;
        font-weight: bold;
        margin-top: 4rem;
    }

    #help_desk h1 {
        margin: 1rem 0;
        text-align: left;
        font-size: 20px;
    }

    .contact_form {
        width: 100%;
        background-color: #133A73;
        border-radius: 10px;
        margin: 0;
        margin-top: 4rem;
    }

    .contact_form .icon {
        padding-top: 20px;
        padding-left: 15px;
        min-width: 40px;
    }

    .contact_form input[type=text],
    .contact_form input[type=email] {
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-sizing: border-box;
        resize: vertical;
        font-size: 16px;
        margin-left: 0;
    }

    .contact_form input[type=submit] {
        width: 100%;
        background-color: #E9E6DE;
        color: #133A73;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        box-shadow: 0 8px 10px 0 #133A73;
        margin-left: 0;
    }
}

/*footer*/

.footer {
    background-color: #E9E6DE;
    padding: 4rem 4rem 4rem 4rem;
    margin: 2rem 4.8rem 2rem 4.8rem;
    border-radius: 10px;
}

.f_links {
    background-color: #D9D9D9;
    padding: 20px;
    border-radius: 10px;
    line-height: 30px;
    width: 200px;
}

.f_links ul {
    list-style-type: none;
    font-size: 14px;
    font-weight: 200;
}

.f_links a {
    text-decoration: none;
    color: #000;
}

.top_row {
    display: flex;
    justify-content: space-between;
}

.fb_links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #D9D9D9;
    padding: 2rem;
    width: 61%;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 200;
    line-height: 30px;
}

.bottom_row {
    padding-top: 3.5rem;
    justify-content: space-between;
}

.bottom_row a {
    text-decoration: none;
    color: #000;
}

.fb_disc,
.fb_seprator {
    display: none;
}

.responsive{
    display: none;
}

@media(max-width: 992px) {
    .footer {
        margin: 1rem;
    }

    .f_links {
        margin-top: 20px;
        padding: 0 10px;
        width: 95%;
    }

    .fb_links {
        margin-top: 20px;
        padding: 0 10px;
        flex-direction: column;
        width: 95%;
    }

    .fb_disc,
    .fb_seprator {
        display: inline;
    }

    .bottom_row {
        padding-top: 0;
    }

    .bottom_row p{
        font-size: 12px;
    }

    .non_responsive{
        display: none;
    }

    .responsive{
        display: inline;
    }
}